.Button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 8px 8px 18px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid var(--primary-border);
  background: var(--bg-primary);
  color: white;
  box-shadow:
    0 8px 20px var(--primary-medium),
    inset 0 1px 1px rgba(255, 255, 255, 0.5);
}

.Button span:first-child {
  font-size: 14px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  color: var(--primary-color);
  background: white;
  border-radius: 50%;
  font-size: 20px;
}
